/* esta es lapagina de estilos sobre la que haremos cambios */

body{
  color: olivedrab;
  max-width: 960px;
  background-image: url("C:/Users/seida/Desktop/2T_EED_SidatSuarezGarcia/git-and-github.png");
  position: center center;
  margin: auto;
}

.fondo{
  size: landscape;
  color: darkred;

}